.calender {
  position: relative;
}

.calender__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  gap: 15px;
  position: relative;
  overflow-x: scroll;
  max-width: 90vw;
}

.calender__week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calender__day {
  width: 100%;
  min-width: 200px;
  margin: 0 5px;
}

.calender__day--today .calender__inner-container {
  border-top: 5px solid #000;
  background: #eeeeee;
}

.calender__day--past {
  opacity: .4;
}

.calender__top {
  padding: 0 10px;
}

.calender__name {
  font-size: 15px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

.calender__inner-container {
  background: #fafafa;
  border-top: 4px solid #00000031;
  padding: 20px 10px;
  min-height: 250px;
  height: calc(100% - 50px);
}

.calender__title {
  text-align: left;
}

.calender__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  position: relative;
  background: #fff;
  padding: 5px 5px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px -4px #000000;
          box-shadow: 0px 0px 6px -4px #000000;
}

.calender__event::before {
  font-size: 9px;
  text-align: left;
  color: #fff;
  padding: 2px 10px;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  margin-right: 5px;
}

.calender__event--user-event .calender__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calender__event--task-event::before {
  content: "TASK EVENT";
  background: #000000c9;
}

.calender__event--reminder-event::before {
  content: "REMINDER EVENT";
  background: #ff0000c9;
}

.calender__event textarea {
  border: none;
  font-weight: 700;
  font-size: 12px;
  background: none;
  height: 20px;
  width: 100%;
  margin-top: 5px;
}

.calender__event input {
  border: none;
  font-size: 10px;
  background: none;
}

.calender__edit {
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.calender__edit .button {
  margin: 5px;
  font-size: 10px;
  background: #fafafa;
}

.calender__edit .button--edit {
  position: absolute;
  top: 3px;
  margin: 0px;
  right: 5px;
  padding: 2px 5px;
  background: #fff;
  border: none;
}

.calender__modal {
  padding: 5px 10px;
  z-index: 10;
  background: #fff;
  position: absolute;
  top: 0;
  right: -65px;
  -webkit-box-shadow: 1px 1px 10px -6px #000000;
          box-shadow: 1px 1px 10px -6px #000000;
  border-radius: 15px;
}

.calender__new-event {
  position: relative;
}

.calender__event-form {
  -webkit-box-shadow: 0px 0px 20px -5px #000000;
          box-shadow: 0px 0px 20px -5px #000000;
  padding: 25px 20px;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  top: 110%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  z-index: 11;
}

.calender__event-form input {
  border: none;
  border-bottom: 1px solid #000;
}
/*# sourceMappingURL=style.css.map */