.calender {
  position: relative;
}

.calender::before, .calender::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
  background: white;
}

.calender::before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, white 50%, rgba(255, 255, 255, 0) 100%);
}

.calender::after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, white 50%, rgba(255, 255, 255, 0) 100%);
}

.calender__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding: 30px;
  width: 90vw;
  gap: 15px;
  position: relative;
}

.calender__day--today .calender__inner-container {
  border-top: 5px solid #000;
  background: #eeeeee;
}

.calender__day--past {
  opacity: .4;
}

.calender__top {
  padding: 0 10px;
}

.calender__name {
  font-size: 15px;
  color: #000;
  text-align: left;
  text-transform: uppercase;
}

.calender__inner-container {
  background: #fafafa;
  border-top: 4px solid #00000031;
  padding: 20px 10px;
}

.calender__title {
  text-align: left;
}

.calender__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  position: relative;
}

.calender__event textarea {
  border: none;
  font-weight: 700;
  font-size: 12px;
  background: none;
  height: 20px;
}

.calender__event input {
  border: none;
  font-size: 9px;
  background: none;
}

.calender__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.calender__edit .button {
  margin: 5px;
  font-size: 10px;
  background: #fafafa;
}

.calender__edit .button--edit {
  position: absolute;
  top: -10px;
  margin: 0px;
  right: 0px;
  padding: 2px 5px;
}

.calender__modal {
  padding: 5px 10px;
  z-index: 10;
  background: #fff;
  position: absolute;
  top: 0;
  right: -65px;
  -webkit-box-shadow: 1px 1px 10px -6px #000000;
          box-shadow: 1px 1px 10px -6px #000000;
  border-radius: 15px;
}

.calender__new-event {
  position: relative;
}

.calender__event-form {
  -webkit-box-shadow: 0px 0px 20px -5px #000000;
          box-shadow: 0px 0px 20px -5px #000000;
  padding: 25px 20px;
  position: absolute;
  background-color: #fff;
  border-radius: 15px;
  top: 110%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  z-index: 11;
}

.calender__event-form input {
  border: none;
  border-bottom: 1px solid #000;
}
/*# sourceMappingURL=style.css.map */