.tasklist
    padding: 25px
    &__container
        display: flex
        flex-direction: column
    
    &__item
        display: flex
        flex-wrap: nowrap
        width: 100%
        width: 750px
        justify-content: center
        background: #fafafa
        margin: 10px 0
        padding: 5px 15px
        transition: .5s
        &--show
            transition: .5s
            flex-wrap: wrap
            & > *, & > * textarea
                width: 100%
            .tasklist__description
                display: block
                textarea
                    height: 100px
            .tasklist__details
                flex-direction: row
                p
                    display: flex
                    flex-direction: row
                label
                    display: block
                    width: 100%
    &__description 
        display: none
    &__title
        width: 100%
        input
            width: 100%
            text-transform: uppercase
            color: #000
            border: none
            border-bottom: 1px solid black
            background: transparent
            padding: 10px 5px
    &__status
        color: #000
    &__button 
        max-width: 50px
        &--newTask
            max-width: 100%

    &__details
        display: flex
        flex-direction: column
        justify-content: space-around
        label
            display: none
        & > *
            margin: 0
            input, select
                border-radius: 25px
                border: 1px solid black
                padding: 2px 5px
                width: 100%
            label
                color: #0000007a
                font-size: 15px
                margin-right: 10px
    textarea
        border: none
        background: #fff
        padding: 5px
        color: #000
