.tasklist
    padding: 25px
    &__container
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    
    &__item
        display: flex
        width: calc(50% - 10px)
        justify-content: space-between
        background: #fafafa
        margin: 10px 0
        padding: 5px 15px
        
    &__title
        text-transform: uppercase
        color: #000
    &__status
        color: #000