.DraftEditor-root
    border: 1px solid #00000042
    border-radius: 5px
    padding: 15px
    margin-top: 15px

.editor
    &__title
        display: flex
        label
            font-size: 18px
            font-weight: 700
            padding: 0 10px
        #title
            border: unset
            border-bottom: 1px solid #00000042
            width: 100%
            &:focus
                outline: none
.style-controls
    display: flex

.notes
    &__note
        border: 1px solid #00000042
        padding: 20px
        margin: 40px 0